/* Mui styles */
.css-1tcs2i1-MuiInputBase-root-MuiInput-root:before{
    border-bottom: 0 !important;
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}
.pagination__btn{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0b5ed7;
    color: #0b5ed7;
    margin-left: 3.5px;
    margin-right: 3.5px;
}
.pagination__btn:hover{
    opacity: 0.5;
    transition: 0.5s ease;
}
.pagination__btn.selected{
    background-color: #0b5ed7;
    color: white;
}
.pagination__prev{
    margin-right: 3.5px !important;
}
.pagination__next{
    margin-left: 3.5px !important;
}